{% extends "../base/main.html" %}

{% block template %}
    <container class="detail-page-container">
        <h2 class="col-xs-1 text-center">Choississez une catégorie de citation</h2>


        {% if quote_count > 0 %}

            <div class="cat-selection">
                <a class="btn-cat-selection" href="{% url 'quotes:results' %}?category=Politique">Politique</a>
                <a class="btn-cat-selection" href="{% url 'quotes:results' %}?category=Inspirationnel">Inspirationnel</a>
                <a class="btn-cat-selection" href="{% url 'quotes:results' %}?category=Film">Film</a>
                <a class="btn-cat-selection" href="{% url 'quotes:results' %}?category=Humour">Humour</a>
            </div>

            <h2 class="col-xs-1 text-center">Sinon générez une citation aléatoire peux importe la catégorie</h2>
            <a class="btn col-xl-2" href="{% url 'quotes:results' %}">Aléatoire</a>

            <div class="nav-btn">
                <a class="btn-return" href="{% url 'quotes:index' %}"><< Retour</a>
            </div>

        {% else %}
            <p> Il n'y a pas de citations disponible actuellement.</p>
        {% endif %}
    </container>

{% endblock %}