@font-face {
    font-family: 'my_soulregular';
    src: url('../fonts/mysoul-regular-webfont.woff2') format('woff2'),
         url('../fonts/mysoul-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background: linear-gradient(0deg, rgba(40,38,39,1) 0%, rgba(11,67,133,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    color: antiquewhite;
    margin: 0;
    min-height: 100vh;
    padding: 0;
}

h1 {
    border-bottom-style: solid;
    border-color: black;
    border-width: 5px;
    font-size: 44px;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

h2 {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 60px;
}

.instruction-text {
    align-items: center;
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

.btn {
    align-items: center;
    background-color: #e6e95b;
    display: flex;
    justify-content: center;
    margin: auto;
}

.btn:hover {
    background-color: #2e8cfc;
}

.btn-return {
    align-items: start;
    background-color: crimson;
    margin-left: 15px;
}

.btn-return:hover {
    background-color: red;
    background-size: 80px;
}

.quote-result-page {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 75vh;
}

.quote-result {
    align-items: center;
    background-color: antiquewhite;
    height: auto;
    margin-top: 50px;
    max-width: 30%;
    padding: 50px 30px 20px 30px;
}

#quote {
    color: black;
    font-family: 'my_soulregular', 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: 800;
}

#quote-detail {
    color: black;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    justify-content: right;
}